@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
    background-color: white;
    min-height: 100vh;
    font-family: 'Shadows Into Light', cursive;
}

#nav-bar {
    background-color: #ebe6e6;
    padding-top: 10px;
    padding-right: 10px;
    margin: -10px -10px -10px -10px;
    font-size: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-link {
    margin-right: 40px;
}

#background-pic-1 {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/09/15/13/greenhouse-1246536_1280.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

h1 {
    color: white;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

h2 {
    color: rgb(204, 255, 255);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

h3 {
    font-size: 2rem;
    text-emphasis: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cutting-season {
    font-size: 1.5rem;
    text-emphasis: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
}

.container {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
}


/* 
.div-button {
    display: block;
    justify-content: center;
    align-items: center;
} */